/* CSS */

body {
color: #F8F8F8;
background-color: #285A64;
font-size: 11pt;
font-weight: normal;
font-stretch: condensed;
font-family: Lato,Helvetica,Verdana,sans-serif;
padding: 4px;
margin: 0px;
}

a {
color: #F8F8F8;
background-color: #285A64;
}

.cat {
color: black;
background-color: #CEECF5;
text-align: right;
}

.center {
text-align: center;
}

.justify {
text-align: justify;
}

.right {
text-align: right;
}

.left {
text-align: left;
}

.medium {
font-size: 48pt;
}

.large {
font-size: 72pt;
}

.pad {
padding: 16px;
}

.container {
display: grid;
grid-template-columns: repeat(72,1fr);
grid-template-rows: repeat(36,8px);
column-gap: 8px;
row-gap: 8px;
}

.caption {
color: #F8F8F8;
background-color: #285A64;
grid-column: 1 / span 72;
grid-row: 1 / span 8;
text-align: center;
font-size: 72pt;
font-weight: bold;
font-stretch: condensed;
font-family: Lato,Helvetica,Verdana,sans-serif;
padding: 4px;
}

.caption_mini {
color: #F8F8F8;
background-color: #285A64;
grid-column: 1 / span 72;
grid-row: calc(1 + (8)) / span 3;
text-align: center;
font-size: 18pt;
font-weight: bold;
font-stretch: condensed;
font-family: Lato,Helvetica,Verdana,sans-serif;
padding: 4px;
}

.navigate {
color: #F8F8F8;
background-color: #285A64;
text-align: left;
padding: 4px;
}

.nv {
color: #F8F8F8;
background-color: #285A64;
grid-column: 1 / span 72;
grid-row: calc(1 + (3 + (8))) / span 2;
text-align: left;
padding: 4px;
}

.sub_nv {
color: #F8F8F8;
background-color: #285A64;
grid-column: 1 / span 72;
grid-row: 1 / span 2;
text-align: left;
padding: 4px;
}

.sub_caption {
color: #F8F8F8;
background-color: #285A64;
grid-column: 1 / span 72;
grid-row: calc(1 + (2)) / span 3;
text-align: left;
font-size: 18pt;
font-weight: bold;
font-stretch: condensed;
font-family: Lato,Helvetica,Verdana,sans-serif;
padding: 4px;
}

.sub_item1 {
color: #F8F8F8;
background-color: #285A64;
grid-column: calc(1 + (0 * (18))) / span 10;
grid-row: calc(1 + (2 + (3))) / span 20;
text-align: justify;
font-size: 11pt;
font-weight: normal;
font-stretch: condensed;
font-family: Lato,Helvetica,Verdana,sans-serif;
padding: 4px;
}

.small_caps {
font-variant: small-caps;
}

.attention {
color: black;
text-align: center;
font-size: 21pt;
font-weight: bold;
padding: 4px;
}

.item1 {
color: black;
background-color: #CEECF5;
grid-column: calc(1 + (0 * (18))) / span 18;
grid-row: calc(1 + (2 + (3 + (8)))) / span 20;
text-align: justify;
font-size: 11pt;
font-weight: normal;
font-stretch: condensed;
font-family: Lato,Helvetica,Verdana,sans-serif;
padding: 4px;
}

.item2 {
color: black;
background-color: #CEECF5;
grid-column: calc(1 + (1 * (18))) / span 18;
grid-row: calc(1 + (2 + (3 + (8)))) / span 19;
text-align: justify;
font-size: 11pt;
font-weight: normal;
font-stretch: condensed;
font-family: Lato,Helvetica,Verdana,sans-serif;
padding: 4px;
}

.item3 {
color: black;
background-color: #CEECF5;
grid-column: calc(1 + (2 * (18))) / span 18;
grid-row: calc(1 + (2 + (3 + (8)))) / span 18;
text-align: justify;
font-size: 11pt;
font-weight: normal;
font-stretch: condensed;
font-family: Lato,Helvetica,Verdana,sans-serif;
padding: 4px;
}

.item4 {
color: #000000;
background-color: #CEECF5;
grid-column: calc(1 + (3 * (18))) / span 18;
grid-row: calc(1 + (2 + (3 + (8)))) / span 17;
text-align: justify;
font-size: 11pt;
font-weight: normal;
font-stretch: condensed;
font-family: Lato,Helvetica,Verdana,sans-serif;
padding: 4px;
}

.footer {
color: #000000;
background-color: #CEECF5;
text-align: center;
padding: 4px;
}
